/* ================================= 
  Base Element Styles
==================================== */
/* ================================= 
  mobile view 320
==================================== */
* {

    padding: 0 0px;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;

}
.contact {
    padding-left: 10px;
    padding-right: 10px;
}
html {
    font-size: 1.25em
}

.container {
    max-width: 860px;
    margin: 0 auto;
    background-color: #59837A;
}
.title-container {
    background-color: #32414d;
}
.title-container h1 {
    text-transform: uppercase;
    text-align: center;
    color:white;
    font-weight: 600;
    font-size: 1.25em;
    padding: 1em
}
.note {
    font-size: .5em;
}
p {
    text-align: left;
    font-size: .85em;
    padding: 10px 0px;
    color: #C7C7C7;
    margin-bottom: .25em;
}
.intro {
    font-size: .85em;
    text-align: center;
    margin-bottom: 1.25em;
    padding: 14px 15px;
    color: white;
    font-weight: 200;
}
.copyright {
    text-align: center;
}
.newsletter p {
    text-align: left;
    font-size: .85em;
    padding: 10px 0px;
    color: #C7C7C7;
    margin-top: .5em;
}
.format  {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 10px;
    margin-bottom: .25em;
    font-size: .85em;
}

.newsletter-container {
    display: inline-block;
    border-style: none;
    margin: 5px;
}
hr {
    margin-top: 2em;
    margin-bottom: 2em;
}
hr.style1 {
    border: 3px solid #32414d;
    border-left: 0;
    border-right: 0;
    margin: 0 0 0 0;

}
hr.style2 {
    border: 2px solid #32414d;
    border-left: 0;
    border-right: 0;
    margin: 0 0 2em 0;
    padding-top: 5px;
    margin-bottom: 2em;
}
h1,
h2,
h3,
a {
    color: white;
    text-decoration: none;
}
h2 {
    font-size: 1em;
    margin-top: 1em;
    font-weight: 800;
    text-align: center;
   color: #ffffff;
}
h4 {
    font-size: .75em;
    padding-top: 5px;
    font-weight: 500;
}


h3 {
    font-size: .75em;
    margin-top: 1em;
    font-weight: 600;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

form {
    margin: 0;
}
.fieldset{
    border: none;
    margin: 10px;
}
.contact-info {
    border-style: none;
}
.newsletter {
    border-style: none;
}


.contact-form input, textarea {
    display: block; 
    width: 100%;
    margin: 5px 0;
    padding: 8px; 
    font-size: .75em;
    background: #EFF3F8; 
    border:none;
    border-radius: 5px;
    padding: 0.75em;
    margin-right: 16em;
}
.contact-form input:hover {
    background-color: #dfdddd;
    cursor: pointer;
  }
  
 .contact-form input:focus,
 .contact-form input:active {
    background-color: #F5FFFE;
    transition: background-color 0.5s ease;
}

  textarea#other-topics:hover {
    background-color:#C9E0DB;
  }
  
 textarea#other-topics:focus,
 textarea#other-topics:active {
    background-color: rgb(251, 238, 238);
    transition: background-color 0.5s ease;
  }
  select#state:hover {
    background-color: #C9E0DB;
  }
  
  select#state focus,
  select#state input:active {
    background-color: rgb(251, 238, 238);
    transition: background-color 0.5s ease;
    
  }
     
      
input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  width: 5%;
  text-align: right;

}
.newsletter_type {
    width: 95%;
}

legend {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 5px;
}
label {
    display: inline-block; 
    margin-top: .5rem;
    font-size: .75em;
    padding-bottom: 3px;
}
::placeholder {
    text-align: left;
    font-size: 1em;

}
placeholder::other-topics {
    text-align: left;
    font-size: 1em;
}
#zip {
    width: 50%;
}
.form-field-zip {
    display: inline-block;
    
}
#state {
    display: block; 
    width: 100%;
    margin: 8px 0;
    padding: 20px 8px 20px 8px; 
    font-size: .75em;
    color:lightslategray;
    background: #EFF3F8; 
    border:none;
    border-radius: 5px;
    text-align: right;

}

textarea {
    height: 100px;
}

.newsletter label{
    display: inline-block;
 } 

#checkbox, #radio {
    padding: 0;
    display: inline-block;
    width:  50%;
 } 
.button {
    padding: 19px 39px 18px 39px;
    background-color: #59837A;
    color: white;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.button:hover {
    background-color: #004369;
  }
  
  .button:focus,
  .button:active {
    background-color: black;
    transition: none;
    color: #ffffff;
  }
      
.bar {
    background-color:#59837A;
    padding-bottom: 1em;

}
.copyright {
    color: #ffffff;
    padding-top: 3px;
}

/* ---- Page Elements ---- */






/* ================================= 
  Media Queries desktop
==================================== */

@media (min-width: 768px)

{

hr.style1 {
    border: 3px solid #32414d;
    border-left: 0;
    border-right: 0;
    margin: 0 0 0 0 ;

}
hr.style2 {
    border: 2px solid #32414d;
    border-left: 0;
    border-right: 0;
    margin: 0 0 2em 0;
    padding-top: 5px;
    margin-bottom: 2em;
}
.contact {
	margin: 0 6em;
}
.form-field {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    margin: .5rem 0 0 1em;
    font-size: .75em;
}
.form-field-zip {
    display: inline-flex;
    width: 66%;
    margin: .5rem 0 0 1em;
    font-size: .75em;
    margin-right: 22em;
}
.contact-form input, textarea {
    display: inline-flex;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    font-size: .75em;
    background: #EFF3F8;
    border: none;
    border-radius: 5px;
    padding: 0.75em;
}
.contact-form label {
    display: inline-flex;
    width: 50%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.25em;
    align-items: stretch;

}
#state {
    display: block; 
    width: 100%;
    margin: 8px 0 8px 0;
    padding: 20px 8px 20px 8px; 
    font-size: .75em;
    color:#E7F2FD;
    background: #EFF3F8; 
    border:none;
    border-radius: 5px;
}
#zip {
    width: 25%;
    align-items: left;
}
    
.bar {
    background-color:#59837A;
    padding-bottom: 1em;
}
.copyright {
    color: #ffffff;
    padding-top: 3px;
}
}
